:root {
    --cell-size: 40px;
    --wall-color: #000000;
    --floor-color: #000000;
}

html,body {
    background-image: url('fondo.jpg'); /* Ruta de la imagen de fondo */ /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.game-container {
    flex-direction: column;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: linear-gradient(to bottom right, rgba(199, 17, 17, 0.5), rgba(220, 234, 221, 0.9));
    font-family: 'Press Start 2P', cursive;
    background-size: cover;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(15, var(--cell-size));
    grid-template-rows: repeat(10, var(--cell-size));
    gap: 1px;
    background-color: var(--wall-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(255, 8, 8, 0.868);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: var(--floor-color);
    position: relative;
}

.wall {
    background-color: var(--wall-color);
    background-image: 
        linear-gradient(90deg, transparent 75%, #054809 75%), /* líneas verticales */
        linear-gradient(#444 75%, transparent 75%), /* líneas horizontales */
        linear-gradient(90deg, #333 25%, transparent 25%, transparent 75%, #333 75%),
        linear-gradient(#333 25%, transparent 25%, transparent 75%, #333 75%);
    background-size: 50px 50px; /* Tamaño de cada "ladrillo" */
    background-position: 0px 0px, 0px 25px, 25px -25px, -25px 0px;
}

.tank {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    transition: all 0.2s ease;
}

.tank::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 6px;
    background-color: rgb(255, 255, 255);
    /* background-color: var(--crosshair-color, #000000); */
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-radius: 3px;
}


.titulo {
    max-width: 30vw;
    width: 40vw; /* Ajuste para pantallas más pequeñas */
    height: auto;
}

.titulo-container {
    display: flex;
    justify-content: center;
    width: 80%;
}


.modal {
    display: none; /* Oculto por defecto */
    position: fixed; 
    z-index: 1000; /* Aparece sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilita scroll en caso de que el contenido sea largo */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto; /* Centrado vertical y horizontal */
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  

