* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('fondo.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    display: flex; /* Usamos flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ajusta la altura al 100% del viewport */
    width: 100vw; /* Ajusta el ancho al 100% del viewport */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscurece con un filtro negro semitransparente */
    z-index: -1; /* Asegura que la capa esté detrás del contenido */
}

#findMatch {
    display: flex;
    padding: 10px 20px;
    font-size: 4vw; /* Ajuste dinámico del tamaño de fuente */
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    background-color: #10511a;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}

#findMatch:hover {
    background-color: #0d4612;
}

/* Estilos del texto animado */
button span {
    display: inline-block;
    position: relative;
    animation: slide 1s ease-in-out infinite alternate;
}

/* Animación de deslizamiento */
@keyframes slide {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
}

/* Contenedor principal con el espacio */
.space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, rgba(199, 17, 17, 0.5), rgba(220, 234, 221, 0.9));
    border: 10px solid #805007;
    border-radius: 10px;
    padding: 1.9vw; /* Ajusta el ancho al 90% de la pantalla */
    min-height: 50vh; /* Ajuste mínimo para que el contenedor no se deforme */
    overflow-y: auto;
}

.logo {
    max-width: 80%;
    width: 40vw; /* Ajuste para pantallas pequeñas */
    height: auto;
}

.logo-container {
    margin-bottom: 1vw; /* Ajuste de espacio entre logo y título */
    display: flex;
    justify-content: center;
    width: 50%;
}

.titulo {
    max-width: 80%;
    width: 40vw; /* Ajuste para pantallas más pequeñas */
    height: auto;
}

.titulo-container {
    margin-bottom: 1vw; /* Ajuste de espacio entre título y botón */
    justify-content: center;
    width: 80%;
}


#creators {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 1rem;
    color: #ffffff;
    font-style: italic;
}

#nameInput {
    margin-bottom: 3vw;
    width: 80%;
    padding: 12px 15px;
    font-size: 1rem;
    color: #ffffff;
    background: linear-gradient(to bottom right, rgba(199, 17, 17, 0.5), rgba(220, 234, 221, 0.9));
    border: 2px solid #805007;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 5px rgb(255, 255, 255);
}

/* Selecciona el placeholder y cambia su color */
#nameInput::placeholder {
    color: #ffffff; /* Cambia #999 por el color que desees */
    opacity: 1; /* Opcional: establece la opacidad si es necesario */
}


#confirm {
    margin-bottom: 2vw;
    padding: 10px 20px;
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    background-color: #10511a;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
    animation: slide 1s ease-in-out infinite alternate;
}

#confirm:hover {
    background-color: #0d4612;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.829); /* Fondo oscuro con opacidad */
    display: flex; /* Usamos flexbox para centrar el contenido */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    z-index: 1000; /* Asegura que el modal esté por encima de otros elementos */
}

/* Contenido del modal */
.modal-content {
    background: linear-gradient(to bottom right, #2c2c2c, #3d3e3e); /* Gris claro a gris medio */
    margin: 15% auto;
    padding: 20px;
    width: 100%; /* Ajusta el tamaño al 80% del ancho de la pantalla */
    max-width: 500px; /* Tamaño máximo del modal */
    border: 2px solid #805007;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra */
    display: flex; /* Usamos flexbox aquí también */
    flex-direction: column; /* Para organizar los elementos dentro del modal */
    align-items: center; /* Centra los elementos dentro del modal */
}

.modal-content h1 {
    font-size: 1.8rem; /* Ajusta el tamaño del título */
    margin-bottom: 20px; /* Espacio debajo del título */
    font-family: 'Press Start 2P', cursive; /* Ajusta la fuente */
    color: #fff; /* Color del título */
}




