body {
    background-image: url('fondo.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    display: flex; /* Usamos flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ajusta la altura al 100% del viewport */
    width: 100vw; /* Ajusta el ancho al 100% del viewport */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Oscurece con un filtro negro semitransparente */
    z-index: -1; /* Asegura que la capa esté detrás del contenido */
}

.space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, rgba(199, 17, 17, 0.5), rgba(220, 234, 221, 0.9));
    border: 10px solid #805007;
    border-radius: 10px;
    padding: 1vw; /* Ajusta el ancho al 90% de la pantalla */
    min-height: 10vh; /* Ajuste mínimo para que el contenedor no se deforme */
    overflow-y: auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.logo {
    max-width: 80%;
    width: 40vw; /* Ajuste para pantallas pequeñas */
    max-height: 80%;
}

.titulo-container {
    display: flex;
    justify-content: center;
    width: 80%;
    max-height: 80%;
}

.titulo {
    max-width: 80%;
    width: 40vw; /* Ajuste para pantallas más pequeñas */
    height: auto;
}

h1 {
    margin: 0;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
}

h2 {
    margin-bottom: 0px;
    font-family: 'Press Start 2P', cursive;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: #10511a;
    color: white;
    font-size: 1.2em;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    animation: slide 1s ease-in-out infinite alternate;
}

li:hover {
    background-color: #0d4612;
}


#tanksList li:nth-child(1) .color-box { background-color: red; }
#tanksList li:nth-child(2) .color-box { background-color: blue; }
#tanksList li:nth-child(3) .color-box { background-color: green; }

.player-count {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0 20px;
    font-size: 1.2em;
    color: #f0f0f0;
    background-color: #10511a;
    padding: 4px 12px;
    border-radius: 20px
}

.player-icon {
    width: 24px;
    height: 24px;
}

.player-count-number {
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
    min-width: 35px;
    text-align: center;
}

.player-count:hover {
    background-color: #0d4612;
}

@keyframes slide {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
}
